{% load static %}

<div class="flex flex-col bg-red-800 gap-0 rounded text-white w-fit">
    <img class="max-w-sm min-w-10 rounded-l object-cover" src="{% if carro.anexo_set.first %}{{ carro.anexo_set.first.arquivo.url }}{% else %}{% static 'images/yaris3.png' %}{% endif %}" alt="">
    <div class="flex flex-col px-8 py-6 gap-6 w-fit">
        <span>{{ carro.ano }} / {{ carro.combustivel }}</span>
        <span>{{ carro.marca }} {{ carro.modelo }}</span>
        <span>Descrição Simples</span>
        <span>R$ {{ carro.valorBase }}</span>
        <button>Ver Detalhes</button>
    </div>
</div>