{% load static my_templatetags %}

<div class="flex flex-row bg-gray-800 gap-0 rounded text-white" x-show="page == '{{ page.number }}'">
    <img class="max-w-sm min-w-10 rounded-l object-cover" src="{% static 'images/yaris3.png' %}" alt="">
    <div class="flex flex-col px-8 py-6 gap-6 min-w-32 md:min-w-44">
        <span class="text-xs font-light">{{ carro.ano }} / {{ carro.combustivel }}</span>
        <span class="text-xl font-bold mr-2">{{ carro.marca }} {{ carro.modelo }} <span class="text-xs font-light">{{ carro.transmissao }}</span></span>
        <span>{{ carro.quilometragem }} kms / {{ carro.transmissao }}</span>
        <span class="text-xl font-bold">R$ {{ carro.valorBase|mascara_preco_carro }}</span>
        {% url 'site_concessionaria:search' car_id=carro.id as link %}
        <button @click="window.location.href='{{ link }}'" class="p-2 cursor-pointer rounded-full bg-gray-50 text-gray-900 hover:bg-blue-900 hover:text-white">
            <span>Ver Detalhes</span>
        </button>
    </div>
</div>