{% load static %}

<header class="text-gray-800 flex px-2 sm:px-6 py-3 gap-6 lg:gap-20 bg-gray-50 sticky top-0 z-50" x-data="{ openedMenu: 'none' }">
    <div class="mx-auto flex justify-between flex-row px-2 sm:px-6 py-3 gap-6 lg:gap-48 bg-gray-50 sticky top-0 z-50">
        <a href="{% url 'site_concessionaria:home' %}" class="flex flex-row items-center gap-2">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 59.38 54.43" width="40px" height="40px">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #1e4077;
                        }

                        .cls-1, .cls-2 {
                            stroke-width: 0px;
                        }

                        .cls-2 {
                            fill: #c92c44;
                        }
                    </style>
                </defs>
                <path class="cls-2"
                      d="M4.08,8.69s15.49,5.66,25.52-3.62c0,0,7.05,8.91,25.05,3.71,0,0-3.53,2.41-2.78,23.38l-43.98-2.04s-.19-20.32-3.8-21.43Z"/>
                <path class="cls-1" d="M19.59,30.67s20.94,3.16,27.89,5.21c.47.14.97,0,1.3-.37l3.08-3.35-32.28-1.5Z"/>
                <path class="cls-1"
                      d="M7.98,31.61s3.43,15.72,21.62,19.44c0,0,11.13-4.67,12.49-7.79,0,0-9.77-6.47-34.11-11.64Z"/>
            </svg>
            <span class="font-bold text-2xl">Elite Motors</span>
        </a>
        <div class="flex flex-row items-center gap-6 lg:gap-48"
             @click.outside="openedMenu = 'none'">
            <div class="flex flex-row gap-6 sm:gap-16 font-semibold" x-show="window.innerWidth > 767">
                <div class="relative">
                    <a href="javascript:void(0)"
                       @click="openedMenu = 'veiculos'"
                       class="flex flex-row items-center gap-2 px-3 py-2 border rounded-full border-opacity-0 border-gray-800 ease-in-out hover:border-opacity-100"
                       :class="openedMenu == 'veiculos' ? 'bg-gray-800 text-white' : ''">
                        Veículos
                        <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    </a>
                    <div x-show="openedMenu == 'veiculos'" class="absolute flex flex-col items-center gap-6 p-4 bg-gray-50 top-16 -left-6 border-t border-gray-400">
                        <a href="#">SUV</a>
                        <a href="#">qwdqdwqwdqwd</a>
                        <a href="#">qwdqdwqwdqwd</a>
                        <a href="#">qwdqdwqwdqwd</a>
                    </div>
                </div>
                <div class="relative">
                    <a href="javascript:void(0)"
                        @click="openedMenu = 'servicos'"
                        class="flex flex-row items-center gap-2 px-3 py-2 border rounded-full border-opacity-0 border-gray-800 ease-in-out hover:border-opacity-100"
                        :class="openedMenu == 'servicos' ? 'bg-gray-800 text-white' : ''">
                        Serviços
                        <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    </a>
                    <div x-show="openedMenu == 'servicos'" class="absolute flex flex-col items-center gap-6 p-4 bg-gray-50 top-16 border-t border-gray-400">
                        <a href="#">Serviços Rápidos</a>
                        <a href="#">Agendar Revisão</a>
                    </div>
                </div>
                <div class="relative">
                    <a href="javascript:void(0)"
                      @click="openedMenu = 'lojas'"
                      class="flex flex-row items-center gap-2 px-3 py-2 border rounded-full border-opacity-0 border-gray-800 ease-in-out hover:border-opacity-100"
                      :class="openedMenu == 'lojas' ? 'bg-gray-800 text-white' : ''">
                        Lojas Próximas
                        <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    </a>
                    <div x-show="openedMenu == 'lojas'" class="absolute flex flex-col items-center gap-6 p-4 bg-gray-50 top-16 border-t border-gray-400">
                        <a href="#">Todas as lojas</a>
                        <a href="#">Mais próxima</a>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="flex flex-row items-center gap-2">
                <a href="">
                    <span class="material-symbols-outlined" style="font-size: 36px;">account_circle</span>
                </a>
            </div>
            {% else %}
                <div class="flex flex-row items-center gap-2">
                    <a href="">
                        <span class="material-symbols-outlined" style="font-size: 36px;">account_circle</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</header>