{% extends 'unfold/layouts/skeleton.html' %}

{% load i18n admin_urls static admin_modify my_templatetags %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXnxtkIrCfGNm4DSNgCMHdQkp3AF7O1HM&callback=initMap&v=weekly&solution_channel=GMP_CCS_customcontrols_v1" defer></script>
    <style>

        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .buttonStyle {
            background: #fff;
            border: 2px solid #fff;
            border-radius: 3px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            font-family: Roboto, Arial, sans-serif;
            font-size: 16px;
            margin: 10px;
            padding: 0 10px;
            text-align: center;
            height: 40px;
        }
    </style>
{% endblock %}

{% block base %}
    {% include 'site_concessionaria/componentes/header.html' %}
{% endblock %}

{% block main %}
    <div id="map" style="width: 100%; height: 500px;"></div>
    <script>
        /**
         * @license
         * Copyright 2019 Google LLC. All Rights Reserved.
         * SPDX-License-Identifier: Apache-2.0
         */
        let map;
        const chicago = { lat: 41.85, lng: -87.65 };

        /**
         * Creates a control that recenters the map on Chicago.
         */
        function createCenterControl(map) {
            const controlButton = document.createElement("button");
            // Set CSS for the control.
            controlButton.classList.add('buttonStyle');

            controlButton.textContent = "Center Map";
            controlButton.title = "Click to recenter the map";
            controlButton.type = "button";
            // Setup the click event listeners: simply set the map to Chicago.
            controlButton.addEventListener("click", () => {
                map.setCenter(chicago);
            });
            return controlButton;
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: { lat: 49.496675, lng: -102.65625 },
            });

            var georssLayer = new google.maps.KmlLayer({
                url: "http://api.flickr.com/services/feeds/geo/?g=322338@N20&lang=en-us&format=feed-georss",
            });
            georssLayer.setMap(map);

            // Create the DIV to hold the control.
            const centerControlDiv = document.createElement("div");
            // Create the control.
            const centerControl = createCenterControl(map);

            // Append the control to the DIV.
            centerControlDiv.appendChild(centerControl);
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(
                centerControlDiv
            );
        }

        window.initMap = initMap;
    </script>
{% endblock %}
